<footer class="main-footer">
   
    <div class="pull-right hidden-xs">
        <a target="_blank" href="https://www.hcode.com.br">Hcode</a>
    </div>
    Projeto desenvolvido apartir do curso online de JavaScript da Hcode Treinamentos.
</footer>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/PACE/pace.min.js"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="dist/js/adminlte.min.js"></script>
<script src="dist/js/demo.js"></script>
<script src="bower_components/chart.js/dist/Chart.bundle.min.js"></script>

</body>

</html>